---
layout: layouts/base.vto
---

{{ comp.header() }}

<main>
  <div class="row intro">
    <div class="column">
      {{ intro }}
    </div>
  </div>
  <div class="row level">
    <div class="column">
      {{ level }}
    </div>
  </div>
  <div class="row profile">
    <div class="column">
      {{ content }}
    </div>
  </div>
</main>

{{ comp.footer() }}
