---
layout: layouts/base.vto
---

{{ comp.header() }}

<main>
  <div class="row">
    <div class="column">
      <h3 class="intro">{{ intro }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h6 class="experience">{{ experience }}</h6>
    </div>
  </div>
  <div class="row profile">
    <div class="column">
      <p>{{ content }}</p>
    </div>
  </div>
</main>

{{ comp.footer() }}
