---
layout: layouts/base.vto
---

{{ comp.header() }}

<main>
  <div class="row intro">
    <div class="column">
      Hello, I'm Anton Klimenko
    </div>
  </div>
  <div class="row profession">
    <div class="column">
      Software Engineer specializing in backend development
    </div>
  </div>
  <div class="row profile">
    <div class="column">
      <p>
        Over the last 20 years, I have gained meaningful experiences in diverse software development maturity organizations, from startups to enterprises. I help companies improve their products in modernizing existing and delivering new IT services.
      </p>
      <p>
        In development, I follow the principles of the Clean Architecture, 12 Factor App, SOLID, and Agile.
      </p>
    </div>
  </div>
</main>

{{ comp.footer() }}
